.custom-height{
height: 500px;
}
.custom-width{
  width: 750px;
}

.logo{
  max-height: 90px;
}

@keyframes custom-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.79;
  }
  100% {
    opacity: 1;
  }
}

/* applying the custom pulse animation */
.animate-pulse {
  animation-name: custom-pulse;
  animation-duration: 2s; 
  animation-iteration-count: infinite;
}

html, body{
  overflow-x: hidden;
  /* prevents horizontal scrolling and ensures that the content is contained within the viewport. */
}